@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.card.user {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-top: 100px;
  margin-left: 18%;
  margin-right: 18%;
  width: auto;
  font-family: 'Poppins', sans-serif;

}
.welcome{
text-align: center;
color:#161C5A;
font-weight: bold;

}
.important{
 color:#FF894F;
}
.logo{
 text-align: left;
 font-size: 40px;
 font-weight: bold;
 color:#161C5A;
 font-family: 'Poppins', sans-serif;
}
.form-group.choice {
text-align:center;
}
#submit{
align-items:center;
}
.mb-3.login{
text-align:center;
}
.btn.login[type=submit] {
background-color:#FF894F;
color: white;
font-weight: bold;
margin:auto;
width:150px;
display:block;
align-items:center;
justify-content:center;
border-radius: 30px;

}
.btn.signup[type=submit]{
background-color:#FF894F;
color: white;
font-weight: bold;
margin:auto;
width:150px;
display:block;
align-items:center;
justify-content:center;
border-radius: 30px;
}
.register{
text-align: center;
}


body {
  margin: 0;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:#161C5A;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: 'Poppins', sans-serif;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  margin-top:50px;
}

.sidebar a{
    display: block;
    padding: 13px 30px;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}
.sidebar a .icon{
    color: #FF894F;
    width: 30px;
    display: inline-block;
}
.sidebar a:hover,
.sidebar a.active{
    color: #FF894F;
    border-right: 2px solid rgb(5, 68, 104);
}

.sidebar a:hover .icon,
.sidebar a.active .icon{
    color:#75cbf0;
}

.sidebar a:hover:before,
.sidebar a.active:before{
    display: block;
}

div.section {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  font-family: 'Poppins', sans-serif;
}
div.section {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  font-family: 'Poppins', sans-serif;git remote remove origin

}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.section {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}





.resource-form{
color:#161C5A;
margin-top:10px;

}
input[type=text]{
width: 80%;
  padding: 9px 9px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  color:#161C5A;
  background:#E5E5E5;
}

input[type=file]{
  width: 80%;
  padding: 9px 9px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  color:#161C5A;
  background:#E5E5E5;
}
textarea[type=text]{
 width: 80%;
  padding: 9px 9px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  color:#161C5A;
  background:#E5E5E5;
}

.btn.book[type=submit]{
  cursor: pointer;
  background-color:#FF894F;
  color: white;
  font-weight: bold;
  margin:auto;
  width:150px;
  display:block;
  align-items:center;
  justify-content:center;
  border-radius: 30px;
  margin-left:400px;

}

@media screen and (max-width: 400px) {
  .btn.book[type=submit] {
      margin-left:100px;
  }
}

.resource-form{
margin-left:50px;
}

.attendance {
margin-top:50px;
margin-left:50px;
}

.card.present{
  padding:3px;
  margin-left:50px;
  align-items:left;
  border-radius: 5px;
  margin-top: 80px;
  magin-left: 18%;
  margin-right: 18%;
  width: auto;
}
#avatar{
text-align: left

}
.col-md-6.name{
  display: flex;
  align-items: center;
}
.col-md-3.check{
  display: flex;
  align-items: center;
}

#cards{
margin-top:50px;
font-family: 'Poppins', sans-serif;
}
#grade{
 width:120px;
 border-top-style: hidden;
 border-right-style: hidden;
 border-left-style: hidden;
 border-bottom-style: hidden;
 background-color: #ffff;
}







