{{#partial "content"}}

    <div class="side-menu">
        <div class="brand-name">
            <h3>E-Learning</h3>
        </div>
        <ul>
            <li>
                <a class="nav-link" href="/"><img src="images/dashboard.png" alt="" ><span>Dashboard</span></a>&nbsp;
            </li>
            <li>
                <a class="nav-link" href="/school-detail-form"><img src="images/school.png" alt=""><span>Schools</span></a>&nbsp;
            </li>
            <li>
                <a class="nav-link" href="/teachers-detail-form"><img src="images/teach.png" alt=""><span>Teachers</span></a>&nbsp;
            </li>
            <li>
                <a class="nav-link" href="/students-detail-form"><img src="images/reading-book.png" alt=""><span>Students</span></a>&nbsp;
            </li>
            <li>
                <a class="nav-link" href="/classes-form"><img src="images/books.png" alt="" ><span>classes</span></a>&nbsp;
            </li>
            <li>
                <a class="nav-link" href="/"><img src="images/settings.png" alt=""><span> Settings</span></a>&nbsp;
            </li>
            <li>
                <a class="nav-link" href="/"><img src="images/logout.png" alt=""><span>Log Out</span></a>&nbsp;
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="school-form">
            <h2 class="mb-4">CLASSES</h2>
            <form class="form" action="/classes-form/new" method="post">
                <div class="mb-3 ">
                    <h6>Teacher's Name:</h6>
                    <input type="text" id="tname" placeholder="teacher name" name="tname" required>
                </div>
                <div class="mb-3">
                    <h6>Classes:</h6>
                    <label class="container1">English
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container1">Kiswahili
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container1">Social Studies
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container1">Maths
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container1">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <button class="btn" type="submit">Create</button>
            </form>
        </div>
    </div>


{{/partial}}

{{> layout.hbs}}