{{#partial "content"}}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>


    <!--            <div class="landingtext">-->
    <!--                <h3>Welcome to the best online learning platform.</h3>-->
    <!--                <p>Lorem bhdsashvjwehgiuwhgwwjnbkwbwb</p>-->

    <!--            </div>-->
    <!--            <div class="container img">-->
    <!--                <img src="/images/linkedin-sales-solutions-EI50ZDA-l8Y-unsplash.jpg" alt="student" width="50%" height="100%">-->

    <!--            </div>-->

    <div class="container-fluid">

        <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus aliquid eius quia expedita illo sequi optio labore assumenda.
        </div>

        <div class="image">
            <img src="images/student.jpg" >
        </div>
    </div>





{{/partial}}
{{> layout.hbs}}

